<launch>
  <arg name="world_file"  default="$(find chris_create_navigation)/worlds/chris_maze.world"/>
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug"        value="false"/>
    <arg name="verbose"      value="false" />
    <arg name="gui"          value="$(arg gui)" />
    <arg name="world_name"   value="$(arg world_file)"/>
 </include>
  
  <!-- Load the CNU create model with sensors -->
  <arg name="urdf_file" default="$(find xacro)/xacro -v --inorder '$(find chris_create_bringup)/robots/cnu_create.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- start up the gazebo setup with given robot description -->
  <include file="$(find chris_create_model)/launch/includes/create_gazebo.launch.xml">
  </include>
  
</launch>
